/*@import url('https://fonts.google.com/specimen/Roboto?sidebar.open=true&selection.family=Open+Sans|Roboto:ital@0;1');*/


/********** Police ***************/

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;1,100;1,400&display=swap');
:root {
    --bleuf: #191970;
    --black: #262626;
    --white: #ffffff;
    box-sizing: border-box;
}

html,
body {
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.4;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    /****/
    /*padding-top: 3rem;*/
    padding-bottom: 3rem;
    color: #5a5a5a;
}

main .main {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}

* {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

figure {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    margin: 0;
}


/*------------------------------------*\
    $HEADER
\*------------------------------------*/

#mainHeader {
    display: flex;
    /* position: fixed;*/
    left: 0;
    right: 0;
    height: 80px;
    line-height: 40px;
    background-color: #FFF;
}

.headerLogo {
    max-width: 22%;
    float: left;
}

.headerLogoFig {
    max-width: 100%;
    margin: 0;
    max-height: -webkit-fill-available;
}

.headerLogoFigImg {
    max-width: 70%;
}


/*------------------------------------*\
    $NavBar
\*------------------------------------*/

.NavBar {
    float: left;
}

.NavBar a {
    padding: 0 10px;
    flex: 1 0 auto;
    color: #1A2B6D;
    /* Elément flexible */
    display: flex;
}

.NavBar a:hover {
    background-color: #191970;
    color: #FFF;
}

.NavBar {
    display: flex;
    flex-wrap: wrap;
    background-color: #FFF;
    /*width: 80%;*/
}

.icone {
    font-size: 1.2em;
    align-self: flex-start;
}

.texte {
    margin: 0 10px;
}

.texte span {
    display: block;
    font-size: 0.7em;
    line-height: normal;
}


/*------------------------------------*\
    $site-content
\*------------------------------------*/

.site-content {
    padding-top: 10px;
}


/*------------------------------------*\
    $container
\*------------------------------------*/

.pageContent {
    margin: 0 20px;
    overflow: hidden;
    *zoom: 1;
}


/*------------------------------------*\
    $bloc
\*------------------------------------*/

.blocEntete,
.poleImg {
    display: flex;
    flex-direction: column;
    background-color: #F0F8FF;
    height: auto;
    width: 100%;
    margin-top: 0.2em;
    position: static;
}

.blocImg {
    width: -webkit-fill-available;
    max-height: 500px;
}

.blocContent {
    display: flex;
    flex-direction: column;
    background-color: #F0F8FF;
    height: auto;
    margin-top: 1.2em;
    position: static;
    height: 290px;
}

.propos {
    height: 170px;
}

.blocEnteteHeader {
    font-size: 1.8em;
    /*margin-top: 1em;*/
    color: #191970;
    text-align: star;
    align-self: center;
    /*width: 41%;*/
}

.accroche {
    margin: auto;
    text-align: center;
    font-size: 2.5rem;
    color: #191970;
}

.blocEnteteContent {
    width: 41%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    align-self: center;
}

.trait {
    width: 25%;
    border-top: 0.5em solid #191970;
    margin-right: 1em;
}

.blocItemText {
    font: normal normal normal 15px/1.2em helvetica-w01-light, helvetica-w02-light, sans-serif;
    color: #000000;
    letter-spacing: normal;
    text-align: left;
    margin: 10px;
}

#linkMore {
    text-decoration: none;
    /* width: 75%;
    align-items: center;*/
    display: flex;
    justify-content: center;
    text-align: center;
    text-align: initial;
    border-radius: 0;
    position: absolute;
    left: 0;
    transition: border-color 400ms ease-out;
    transition: background-color 400ms ease-out;
    /* padding-top: 200px;*/
    position: inherit;
    margin-top: 2em;
}

#linkMore .plus {
    background: rgba(26, 43, 109, 1);
    border: solid rgba(0, 115, 159, 1) 0px;
    cursor: pointer !important;
    height: 3em;
    width: 5%;
    color: var(--white);
    text-align: center;
    padding-top: 0.8em;
}

#linkMore .savoir {
    background: rgb(212, 19, 23, 1);
    border: solid rgba(90, 101, 146, 1) 0px;
    cursor: pointer !important;
    height: 3em;
    color: var(--white);
    text-align: center;
    padding: 15px;
}

#linkMore .savoir:hover {
    background: rgba(26, 43, 109, 1);
    transition: border-color 400ms ease-out;
    transition: background-color 400ms ease-out;
}

#linkMore .plus:hover {
    background: rgb(212, 19, 23, 1);
    transition: border-color 400ms ease-out;
    transition: background-color 400ms ease-out;
}

.link {
    color: rgb(212, 19, 23, 1);
    text-decoration: none;
    position: absolute;
    margin-top: 223px;
    top: 5px;
    left: 250px;
}

.link:hover {
    color: rgba(26, 43, 109, 1);
    transition: border-color 400ms ease-out;
    transition: color 400ms ease-out;
}

.expertiseItem {
    box-shadow: 0 0 20px #0000002e;
    border-radius: 20px;
    margin: 0px 0px 20px 0px;
    max-width: 32%;
    flex-direction: column;
}

.expertiseItemImg {
    background-size: 100% 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0px 0px 22px 0px;
}

.expertiseTitle {
    /* margin: 1.2rem 1.5rem;*/
    color: rgba(26, 43, 109, 1);
    font-style: oblique;
    font-size: 1.5em;
}

.expertiseTexte {
    font-size: 0.9em;
    text-align: justify !important;
    -webkit-text-stroke-width: thin;
    border-bottom-style: solid;
}

.carteExpertise {
    padding: 0.375rem;
    border-radius: 1.25rem;
    box-shadow: 0 0 16px #0000002e;
    transition-duration: 0.1s;
    cursor: pointer;
    box-sizing: border-box;
}

.expertiseHeader {
    width: 100%;
    display: flex;
    justify-content: center;
}

.bandeBleu {
    background-color: #1A2B6D;
    height: 180px;
    width: 100%;
}

.expertiseHeaderTitle {
    font-size: 30px;
    line-height: 1em;
    margin: 10px 0px 10px 20px;
    color: #1A2B6D;
    text-align: center;
}

.firstBox {
    position: absolute;
    width: 50%;
    height: 8em;
    left: 23%;
    z-index: 1;
    border: 0px solid rgba(0, 115, 159, 1);
    background-color: rgba(255, 255, 255, 1);
    margin-top: 30px;
    border-radius: 0;
    padding: 3%;
}

.secondBox {
    position: absolute;
    width: 49%;
    height: 8em;
    box-sizing: border-box;
    margin-top: 15px;
    /*border-left-style: none;*/
    border-radius: 0 0 0 0;
    background-color: transparent;
    border: 3px solid rgba(255, 255, 255, 1);
    border-radius: 0 0 0 0;
}

.expertises {
    background-color: white;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 60px;
    width: 95% !important;
    margin: 4rem 0;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    width: 30% !important;
}

.btnMore {
    color: #fff !important;
    /*background-color: #007bff;*/
    background-color: #1A2B6D;
    border-color: #007bff;
}

.btn:hover {
    background-color: #007bff;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.ItemImg {
    width: 100%;
    margin-right: 10px;
    border-radius: 10px;
    height: 275px;
    max-width: 100% !important;
}

.expertiseItemLink {
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition-duration: 0.1s;
}

.expertiseItemFig {
    flex: 1;
}

.ImgRpa {
    width: 82%;
    margin-right: 10px;
    border-radius: 10px;
    height: 400px;
}


/*------------------------------------*\
    $FOOTER
\*------------------------------------*/

ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
}

ul.icons li {
    display: inline-block;
    padding: 0 1em 0 0;
}

ul.icons li:last-child {
    padding-right: 0;
}

ul.icons li .icon:before {
    font-size: 2em;
}

#footer {
    padding: 8em 0 6em 0;
    text-align: center;
    background: #152F4F;
    color: white;
    background: url(../images/bg_footer.jpg);
}

#footer a {
    -moz-transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    color: white;
    text-decoration: none;
}

#footer a:active,
#footer a:hover {
    color: #666;
}

#footer .icons {
    font-size: 1.5em;
}

#footer .icons li {
    padding-right: 2.5em;
    list-style-type: none;
    width: 100px;
}

#footer .copyright {
    margin: 2em 0;
    padding: 0;
    text-align: center;
}

#footer .copyright li {
    border-left: solid 1px rgba(144, 144, 144, 0.25);
    display: inline-block;
    list-style: none;
    margin-left: 1.5em;
    padding-left: 1.5em;
}

#footer .copyright li:first-child {
    border-left: 0;
    margin-left: 0;
    padding-left: 0;
}


/*------------------------------------*\
    $PAGE CONTACT
\*------------------------------------*/

.main,
.team {
    background-color: rgba(155, 155, 155, 0.8);
    padding: 20px;
    color: white;
}

.main form {
    display: grid;
    border-top: solid 1px white;
    animation: ombre ease-in infinite alternate 500ms;
}

.main form>div>div {
    display: flex;
    flex-flow: column nowrap;
    margin: 20px 0;
}

main form>div:last-child>div:first-child {
    margin: 0 0 20px 0;
}

.main form label {
    margin-bottom: 5px;
    font-size: 1.1em;
    display: flex;
    justify-content: space-between;
}

.main form textarea {
    height: 150px;
    resize: none;
}

.main form button {
    padding: 10px;
    background-color: #1A2B6D;
    color: white;
    border: none;
    margin-top: 30px;
}

.main form button:hover {
    background-color: rgba(90, 101, 146, 1);
}

.main form button:active {
    background-color: red;
}

.main form .msg {
    font-size: .8em;
    color: rgb(88, 1, 1);
    margin-left: 20px;
}

.main form input,
.main form textarea {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(162, 162, 255);
}

.main form input:valid,
.main form textarea:valid {
    border: 1px solid green;
}

.main form input.invalid,
.main form textarea.invalid {
    border: 1px solid red;
}


/*------------------------------------*\
    $PAGE EQUIPE
\*------------------------------------*/


/* Mise en page général */

.carteEntete {
    background-color: #f9fafa;
    text-align: center;
    color: #1A2B6D;
    margin-bottom: 20px;
    width: 75%;
}

.carteEntete h2 {
    padding: 10px;
    font-size: 20px;
}

.carteEntete p {
    padding: 10px;
    width: 75%;
    text-align: center;
}

.centre,
.main {
    width: 75%;
    margin: 0 auto;
    margin-top: 80px;
}


/* Mise en page des pavés */

.carte {
    background-color: #f9fafa;
    margin-bottom: 10px;
}

.carte a {
    text-decoration: none;
    color: #262626;
    width: 100%;
    text-align: center;
}

.carte:hover {
    box-sizing: border-box;
    border: 2px solid #aaaa;
}

.carte a figure {
    margin: 0;
}

.carte a figure img {
    max-width: 35%;
    align-self: center;
}

.carte a figure figcaption {
    text-align: center;
    font-style: italic;
}

.carte a div h2,
h3 {
    margin-top: 5px;
    padding: 5px;
    text-align: center;
    font-size: 1em;
    background-color: #cccccc;
}

.carte a div p {
    padding: 10px;
    background-color: #fff;
    text-align: center;
}

ul {
    padding: -1px;
}


/*------------------------------------*\
    $Défilement
\*------------------------------------*/

.reveal-loaded .reveal [class*="reveal-"] {
    opacity: 0!important;
    animation: none!important;
    transition: 0s!important;
}

.reveal-loaded [class*="reveal-"] {
    animation: revealAnimation 1s cubic-bezier(.5, 0, 0, 1) both;
}

.reveal-loaded .reveal-2 {
    animation-delay: .1s;
}

.reveal-loaded .reveal-3 {
    animation-delay: .2s;
}

.reveal-loaded .reveal-4 {
    animation-delay: .3s;
}

.reveal-loaded .reveal-5 {
    animation-delay: .4s;
}

@media (prefers-reduced-motion: reduce) {
    .reveal-loaded [class*="reveal-"] {
        animation: none!important;
    }
}

@keyframes revealAnimation {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


/*------------------------------------*\
    $CUSTOMIZE THE CAROUSEL
\*------------------------------------*/


/* Carousel base class */

.carousel {
    margin-bottom: 1rem;
}


/* Declare heights because of positioning of img element */

.carousel-item {
    height: 32rem;
}

.carousel-item>img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
    margin: 5rem 0;
    /* Space out the Bootstrap <hr> more */
}


/* Thin out the marketing headings */

.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}

.lead {
    font-size: 1rem;
}


/*------------------------------------*\
    $RESPONSIVE
\*------------------------------------*/

@media screen and (min-width: 1200px) {
    .carte {
        flex: 0 0 32%;
    }
}

@media screen and (min-width: 1024px) {
    .main form {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
    .main form button {
        padding: 10px;
        background-color: #1A2B6D;
        color: white;
        border: none;
        grid-column: 1 / -1
    }
    .main ul {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 750px) {
    body {
        width: 100%;
    }
    .main ul {
        grid-template-columns: repeat(2, 1fr);
    }
    .site-pusher,
    .site-container {
        height: 100%;
    }
    .site-container {
        overflow: hidden;
    }
    .site-pusher {
        -moz-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
    .site-content {
        position: absolute;
        top: 85px;
        right: 0;
        left: 0;
        bottom: 0;
        padding-top: 0;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
    #mainHeader {
        display: block;
        position: static;
    }
    .NavBar {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        background-color: #2a378b;
        width: 250px;
        height: 94vh;
        -moz-transform: translateX(250px);
        -ms-transform: translateX(250px);
        -webkit-transform: translateX(250px);
        transform: translateX(250px);
    }
    .NavBar a {
        display: block;
        height: 40px;
        color: #FFF;
        text-align: center;
        line-height: 40px;
        border-bottom: 1px solid #303f9f;
    }
    .header__icon {
        position: relative;
        display: block;
        float: right;
        width: 50px;
        height: 66px;
        cursor: pointer;
    }
    .header__icon:after {
        content: '';
        position: absolute;
        display: block;
        width: 1rem;
        height: 0;
        top: 16px;
        left: 15px;
        -moz-box-shadow: 0 10px 0 1px white, 0 16px 0 1px white, 0 22px 0 1px white;
        -webkit-box-shadow: 0 10px 0 1px white, 0 16px 0 1px white, 0 22px 0 1px white;
        box-shadow: 0 10px 0 1px #2a378b, 0 16px 0 1px #2a378b, 0 22px 0 1px #2a378b;
    }
    .with--sidebar .site-pusher {
        -moz-transform: translateX(-250px);
        -ms-transform: translateX(-250px);
        -webkit-transform: translateX(-250px);
        transform: translateX(-250px);
    }
    .with--sidebar .site-cache {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.6);
    }
    .headerLogo {
        height: auto;
        max-width: 50%;
    }
    .headerLogoFigImg {
        min-width: -webkit-fill-available;
    }
    .blocEnteteContent {
        width: 95%;
    }
    #linkMore {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0rem;
    }
    .firstBox {
        left: 14%;
        width: 73%;
    }
    .secondBox {
        width: 80%;
    }
    #footer {
        padding: 3em 0 2em 0;
    }
    #footer .icons {
        font-size: 1em;
    }
    .btn {
        width: 60% !important;
    }
}

@media only screen and (min-width:768px) {
    #footer {
        padding: 6em 0 4em 0;
    }
    .main {
        margin-top: 80px;
    }
    .centre {
        width: 75%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        margin-top: 80px;
        margin-bottom: 80px;
        justify-content: space-evenly;
    }
    .cartes {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .carte {
        flex: 0 0 48%;
        display: flex;
    }
    .carteEntete {
        background-color: #f9fafa;
        text-align: center;
        color: #1A2B6D;
        width: 100%;
    }
    .carteEntete p {
        width: 80%;
        text-align: center;
        margin-left: 5em;
    }
}

@media only screen and (min-width:320px) {
    .main {
        width: auto;
    }
}

@media only screen and (min-width:321px) and (max-width:768px) {
    #footer {
        padding: 3em 0 2em 0;
    }
    #footer .icons {
        font-size: 1.5em;
    }
    .cartes.bloc {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .carte {
        flex: 0 0 32%;
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }
    .carte a figure img {
        max-width: 50%;
    }
    .carteEntete {
        background-color: #f9fafa;
        text-align: center;
        color: #1A2B6D;
        width: 100%;
    }
    .carteEntete p {
        width: 100%;
        text-align: center;
    }
    figure {
        margin: 0;
        width: 100%;
    }
    .expertiseItemLink {
        display: flex;
        flex-direction: column;
    }
    .accroche {
        font-size: 1.5em;
    }
    .carousel-item {
        height: 26rem;
    }
    .carousel-item>img {
        height: 23rem;
    }
    .carteExpertise {
        max-width: 100%;
    }
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}